@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --green-dark: #545D3D;
    --green-light: #8E9B6D;
    --brown-light: #BBA26E;
    --beige: #E6DCCA;
    --font-navbar: #C1C6B5;
    --green-intermediate : #68754A;
  }
}

body {

}
